<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<HeadContent>
    <meta property="og:title" content="Mogawinch HQ" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://mogawinch.com/assets/mogawinch_logo.svg" />
    <meta property="og:url" content="https://www.mogawinch.com" />
    <meta property="og:site_name" content="Mogawinch HQ" />
</HeadContent>
