@page "/"
@using Mogawinch.Models
@using System.IO
@using System.Text.Json

@inject IJSRuntime JS
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Mogawinch HQ</PageTitle>

<div id="home">
    @if (Reviews == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @if (Reviews.Count() > 0)
        {
            var first = Reviews.First();
            <div class="featured-container">
                <ArticleOverview ImagePath="@first.ImagePath"
                                Title="@first.Title"
                                Author="@first.Author"
                                Date="@first.Date"
                                Excerpt="@first.Excerpt"
                                IsFeatured="true"
                                ReviewScore="@first.ReviewScore"
                                OnClickCallback="() => NavigateToGameReview(first.Path)" />
            </div>
        }
        <h2 class="article-title">Featured Games</h2>
        <div class="article-grid">
            @foreach (var review in Reviews.Skip(1))
            {
                <ArticleOverview ImagePath="@review.ImagePath"
                                Title="@review.Title"
                                Author="@review.Author"
                                Date="@review.Date"
                                Excerpt="@review.Excerpt"
                                IsFeatured="false"
                                OnClickCallback="() => NavigateToGameReview(review.Path)" />
            }
        </div>

        <div class="more-articles-container">
            <button class="more-articles-button" @onclick="NavigateToAllGameReviews">
                More Game Reviews →
            </button>
        </div>

        <h2 class="article-title">Featured Blogs</h2>
        <div class="article-grid">
            @foreach (var blog in Blogs)
            {
                <ArticleOverview ImagePath="@blog.ImagePath"
                                Title="@blog.Title"
                                Author="@blog.Author"
                                Date="@blog.Date"
                                Excerpt="@blog.Excerpt"
                                IsFeatured="false"
                                OnClickCallback="() => NavigateToBlogPost(blog.Path)" />
            }
        </div>

        <div class="more-articles-container">
            <button class="more-articles-button" @onclick="NavigateToAllBlogPosts">
                More Blog Posts →
            </button>
        </div>
    }
</div>

<HeadContent>
    <meta property="og:title" content="Mogawinch HQ" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://mogawinch.com/assets/mogawinch_logo.svg" />
    <meta property="og:url" content="https://www.mogawinch.com" />
    <meta property="og:site_name" content="Mogawinch HQ" />
</HeadContent>

@code {
    private Article[] Reviews;

    private Article[] Blogs;

    protected override async Task OnInitializedAsync()
    {
        var reviewList = new List<Article>();
        var blogList = new List<Article>();

        try
        {
            var indexes = await GetFromJsonAsync<ContentIndex[]>("content/index.json");
            await JS.InvokeVoidAsync("console.log", $"paths are {indexes.Count()}");

            var reviewIndexes = indexes.Where(i => i.Path.Contains("content/reviews/games")).Take(7);
            var blogIndexes = indexes.Where(i => i.Path.Contains("content/blogs")).Take(6);

            foreach (var index in reviewIndexes)
            {
                var reviewData = await GetFromJsonAsync<Article>(index.Path);
                reviewData.Path = index.Path;
                await JS.InvokeVoidAsync("console.log", $"review data is {reviewData.Path}");

                reviewList.Add(reviewData);
            }

            foreach (var index in blogIndexes)
            {
                var blogData = await GetFromJsonAsync<Article>(index.Path);
                blogData.Path = index.Path;
                await JS.InvokeVoidAsync("console.log", $"review data is {blogData.Path}");

                blogList.Add(blogData);
            }
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("console.log", $"review loading crashed with error {ex.Message}.");
        }
        finally
        {
            Reviews = reviewList.ToArray();
            Blogs = blogList.ToArray();
        }
    }

    public async Task<T> GetFromJsonAsync<T>(string requestUri)
    {
        using (var response = await Http.GetAsync(requestUri, HttpCompletionOption.ResponseHeadersRead))
        {
            var jsonResult = await response.Content.ReadFromJsonAsync<T>();

            return jsonResult;
        }
    }

    private void NavigateToGameReview(string path)
    {
        NavManager.NavigateTo($"/reviews/games/{Article.Base64Encode(path)}");
    }

    private void NavigateToBlogPost(string path)
    {
        NavManager.NavigateTo($"/blogs/{Article.Base64Encode(path)}");
    }

    private void NavigateToAllGameReviews()
    {
        NavManager.NavigateTo("/reviews/games");
    }

    private void NavigateToAllBlogPosts()
    {
        NavManager.NavigateTo("/blogs");
    }
}